- Importing the tools

In [114]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

- Loading datas

In [118]:
sonar_data = pd.read_csv('sonar data.csv')


print(sonar_data)

     0.0200  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109  \
0    0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
1    0.0262  0.0582  0.1099  0.1083  0.0974  0.2280  0.2431  0.3771  0.5598
2    0.0100  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
3    0.0762  0.0666  0.0481  0.0394  0.0590  0.0649  0.1209  0.2467  0.3564
4    0.0286  0.0453  0.0277  0.0174  0.0384  0.0990  0.1201  0.1833  0.2105
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
202  0.0187  0.0346  0.0168  0.0177  0.0393  0.1630  0.2028  0.1694  0.2328
203  0.0323  0.0101  0.0298  0.0564  0.0760  0.0958  0.0990  0.1018  0.1030
204  0.0522  0.0437  0.0180  0.0292  0.0351  0.1171  0.1257  0.1178  0.1258
205  0.0303  0.0353  0.0490  0.0608  0.0167  0.1354  0.1465  0.1123  0.1945
206  0.0260  0.0363  0.0136  0.0272  0.0214  0.0338  0.0655  0.1400  0.1843

     0.2111  ...  0.0027  0.0065  0.0159  0.0072  0.0167  0.0180  0.0084  \
0    0.2872  ...  0.0084  0.0089  0.0048  0.0094  0.0191  0.0140  0.0049
1    0.6194  ...  0.0232  0.0166  0.0095  0.0180  0.0244  0.0316  0.0164
2    0.1264  ...  0.0121  0.0036  0.0150  0.0085  0.0073  0.0050  0.0044
3    0.4459  ...  0.0031  0.0054  0.0105  0.0110  0.0015  0.0072  0.0048
4    0.3039  ...  0.0045  0.0014  0.0038  0.0013  0.0089  0.0057  0.0027
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
202  0.2684  ...  0.0116  0.0098  0.0199  0.0033  0.0101  0.0065  0.0115
203  0.2154  ...  0.0061  0.0093  0.0135  0.0063  0.0063  0.0034  0.0032
204  0.2529  ...  0.0160  0.0029  0.0051  0.0062  0.0089  0.0140  0.0138
205  0.2354  ...  0.0086  0.0046  0.0126  0.0036  0.0035  0.0034  0.0079
206  0.2354  ...  0.0146  0.0129  0.0047  0.0039  0.0061  0.0040  0.0036

     0.0090  0.0032  R
0    0.0052  0.0044  R
1    0.0095  0.0078  R
2    0.0040  0.0117  R
3    0.0107  0.0094  R
4    0.0051  0.0062  R
..      ...     ... ..
202  0.0193  0.0157  M
203  0.0062  0.0067  M
204  0.0077  0.0031  M
205  0.0036  0.0048  M
206  0.0061  0.0115  M

[207 rows x 61 columns]

- Cleaning of the Data  :  The first ligne of the csv file data is the indexe of the columns

In [119]:

first_line = sonar_data.columns
sonar_data.columns = list(range(p))

In [120]:

sonar_data.loc[-1] = first_line
sonar_data.index = sonar_data.index + 1
sonar_data = sonar_data.sort_index()

In [121]:
sonar_data = sonar_data.iloc[1:]

print(sonar_data)

         0       1       2       3       4       5       6       7       8   \
1    0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
2    0.0262  0.0582  0.1099  0.1083  0.0974   0.228  0.2431  0.3771  0.5598
3      0.01  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
4    0.0762  0.0666  0.0481  0.0394   0.059  0.0649  0.1209  0.2467  0.3564
5    0.0286  0.0453  0.0277  0.0174  0.0384   0.099  0.1201  0.1833  0.2105
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
203  0.0187  0.0346  0.0168  0.0177  0.0393   0.163  0.2028  0.1694  0.2328
204  0.0323  0.0101  0.0298  0.0564   0.076  0.0958   0.099  0.1018   0.103
205  0.0522  0.0437   0.018  0.0292  0.0351  0.1171  0.1257  0.1178  0.1258
206  0.0303  0.0353   0.049  0.0608  0.0167  0.1354  0.1465  0.1123  0.1945
207   0.026  0.0363  0.0136  0.0272  0.0214  0.0338  0.0655    0.14  0.1843

         9   ...      51      52      53      54      55      56      57  \
1    0.2872  ...  0.0084  0.0089  0.0048  0.0094  0.0191   0.014  0.0049
2    0.6194  ...  0.0232  0.0166  0.0095   0.018  0.0244  0.0316  0.0164
3    0.1264  ...  0.0121  0.0036   0.015  0.0085  0.0073   0.005  0.0044
4    0.4459  ...  0.0031  0.0054  0.0105   0.011  0.0015  0.0072  0.0048
5    0.3039  ...  0.0045  0.0014  0.0038  0.0013  0.0089  0.0057  0.0027
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
203  0.2684  ...  0.0116  0.0098  0.0199  0.0033  0.0101  0.0065  0.0115
204  0.2154  ...  0.0061  0.0093  0.0135  0.0063  0.0063  0.0034  0.0032
205  0.2529  ...   0.016  0.0029  0.0051  0.0062  0.0089   0.014  0.0138
206  0.2354  ...  0.0086  0.0046  0.0126  0.0036  0.0035  0.0034  0.0079
207  0.2354  ...  0.0146  0.0129  0.0047  0.0039  0.0061   0.004  0.0036

         58      59 60
1    0.0052  0.0044  R
2    0.0095  0.0078  R
3     0.004  0.0117  R
4    0.0107  0.0094  R
5    0.0051  0.0062  R
..      ...     ... ..
203  0.0193  0.0157  M
204  0.0062  0.0067  M
205  0.0077  0.0031  M
206  0.0036  0.0048  M
207  0.0061  0.0115  M

[207 rows x 61 columns]

- Some statistics

In [76]:
print(sonar_data.shape)

sonar_data.describe(include= 'all')

(208, 61)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
count,208.0000,208.0000,208.0000,208.0000,208.0000,208.0000,208.0000,208.000,208.0000,208.0000,...,208.0000,208.0000,208.0000,208.0000,208.0000,208.0000,208.0000,208.000,208.0000,208
unique,177.0000,182.0000,190.0000,181.0000,193.0000,196.0000,195.0000,201.000,205.0000,207.0000,...,145.0000,135.0000,134.0000,130.0000,123.0000,121.0000,125.0000,119.000,110.0000,2
top,0.0201,0.0116,0.0398,0.0108,0.0657,0.0973,0.0771,0.113,0.2105,0.2354,...,0.0091,0.0129,0.0079,0.0075,0.0054,0.0054,0.0036,0.007,0.0053,M
freq,5.0000,2.0000,2.0000,3.0000,2.0000,2.0000,3.0000,2.000,2.0000,2.0000,...,5.0000,5.0000,5.0000,5.0000,5.0000,7.0000,6.0000,6.000,7.0000,111

- How many rocks and mines (M --> mine and R --> rock)

In [85]:
sonar_data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

- Groupe the data by mine and rock

DataError: No numeric types to aggregate